<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_skin_icon"
        android:label="@string/skin_name"
        android:theme="@style/AppTheme">

        <!-- Required: tells Poweramp this APK is a skin -->
        <meta-data
            android:name="com.maxmpz.PowerampSkins"
            android:resource="@xml/skins"/>

        <activity
            android:name=".SkinActivity"
            android:exported="true"
            android:label="@string/skin_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Poweramp skin chooser integration -->
            <intent-filter>
                <action android:name="com.maxmpz.audioplayer.action.SKIN_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
